body {
  background-color: #1c1c1c !important;
}

h1 {
  color: whitesmoke !important;
  text-align: center;
  background-color: #157347;
  padding: 10px;
}

label {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  margin-block-start: 45px;
}

section {
  border: none;
}

.section_border {
  width: 40%;
  border: 1px solid #e4e7eb;
  padding: 30px;
  border-radius: 10px;
}
