.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-block-start: 15px;
  width: min-content;
}

.card img {
  height: 400px;
  width: 250px;
  object-fit: cover;
}
